<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
    <style>
    body{
    background:url('/finalproject/src/main/resources/static/WhatsApp Image 2024-08-02 at 10.55.22_77dbcba8.jpg')no-repeat center cover;
    }
    </style>
</head>
<body>
	<h1>Change Password</h1>
    <form th:action="@{/passwordchange}" th:object="${mod}" method="post">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" th:field="*{password}" required/><br>

        <label for="confirmPassword">New Password</label>
        <input type="password" id="confirmPassword" th:field="*{confirmpassword}"required/><br>

        <input type="submit" value="Change Password">
    </form>
</body>
</html>
