
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .mandatory-label::after {
      content: " *";
      color: red;
    }
    body {
      background-image: url('/WhatsApp Image 2024-08-02 at 10.55.22_77dbcba8.jpg');
      padding-top: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .card-header {
      background-color: darkblue;
      color: white;
    }
    .form-check-inline .form-check-input {
      margin-right: 5px;
    }
    .form-check-inline {
      margin-right: 10px;
    }
    .btn-custom {
      background-color: #28a745;
      color: white;
    }
    .btn-custom:hover {
      background-color: #218838;
      color: white;
    }
    .card, .card-header {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card {
      opacity: 0.8; 
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <a id="logo" href="https://scopeindia.org/software-networking-testing-cloud-training-kerala-trivandrum-kochin" title="SCOPE INDIA - Software and Networking Professional Education Center"><img src="https://scopeindia.org/images/scope-india-logo-bird.png" alt="SCOPE INDIA" class="mx-auto d-block" width="50"></a>
            <h2>Registration Form</h2>
            <p>Its just a matter of 80 days to an IT job!</p>
          </div>
          <div class="card-body" >
            <form id="registrationForm" enctype="multipart/form-data" th:action="@{save}" th:object="${reg}" method="post">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstname" class="mandatory-label">First Name</label>
                  <input type="text" class="form-control" id="firstname" name="firstname" required th:field="*{firstname}">
                  <span th:if="${#fields.hasErrors('firstname')}">firstname not to be blank</span>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastname" class="mandatory-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname" name="lastname" required th:field="*{lastname}">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dob" class="mandatory-label">Date Of Birth</label>
                  <input type="date" class="form-control" id="dob" name="dob" required th:field="*{dob}">
                   <span th:if="${#fields.hasErrors('dob')}">Please enter correct Date of birth</span>
                </div>
                <div class="form-group col-md-6">
                  <label class="mandatory-label">Gender</label><br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="gendermale" value="Male" required th:field="*{gender}">
                     <span th:if="${#fields.hasErrors('gender')}">This field cannot be blank</span>
                     <label class="form-check-label" for="gendermale">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="genderfemale" value="Female" required th:field="*{gender}">
                        <span th:if="${#fields.hasErrors('gender')}">This field cannot be blank</span>
                        <label class="form-check-label" for="genderfemale">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="genderother" value="Other" required th:field="*{gender}">
                        <span th:if="${#fields.hasErrors('gender')}">This field cannot be blank</span>
                        <label class="form-check-label" for="genderother">Other</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email" class="mandatory-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}">Enter valid email</span>
                    </div>
                <div class="form-group col-md-6">
                  <label for="phone" class="mandatory-label">Phone Number</label>
                  <input type="tel" class="form-control" id="phone" name="phone" required th:field="*{phone}">
                	    <span th:if="${#fields.hasErrors('phone')}">Phone number should contain minimum 10 numbers</span>
                	    </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="country" class="mandatory-label">Country</label>
                  <select class="form-control" id="country" name="country" required th:field="*{country}">
                    <option value="">Choose...</option>
                    <option th:each="country:${countryModel}" th:text="${country.name}" th:value="${country.id}"></option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="state" class="mandatory-label">State</label>
                  <select class="form-control" id="state" name="state" required th:field="*{state}">
                    <option value="0">Choose...</option>
                    
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="city" class="mandatory-label">City</label>
                  <select class="form-control" id="city" name="city" required th:field="*{city}">
                    <option value="0">Choose...</option>
                    
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Hobbies</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="hobby1" value="Reading" name="hobbies" th:field="*{hobbies}">
                  <label class="form-check-label" for="hobby1">Reading</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="hobby2" value="Traveling" name="hobbies" th:field="*{hobbies}">
                  <label class="form-check-label" for="hobby2">Traveling</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="hobby3" value="Sports" name="hobbies" th:field="*{hobbies}">
                  <label class="form-check-label" for="hobby3">Sports</label>
                </div>
              </div>
               <div class="form-group">
                <label for="avatar" class="mandatory-label">Avatar</label>
                <input type="file" class="form-control-file" id="avatar" name="avatar">
              </div> 
              <div class="text-center">
                <button type="submit" class="btn btn-custom">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        $('#country').change(function(){
            var countryid=$(this).val();
            $.ajax({
                url:'/states/'+countryid,
                type:'GET',
                success:function(data){
                     var stat=$("#state")
                     stat.empty();
                     $.each(data,function(index,state){
                     stat.append('<option value="'+state.stateid+'">'+state.statename+'</option>');

                });
            }
        });
    });
    });
        $('#state').change(function(){
            var stateid=$(this).val();
            $.ajax({
                url:'/cities/'+stateid,
                type:'GET',
                success:function(data){
                     var cit=$("#city")
                     cit.empty();
                     $.each(data,function(index,city){
                     cit.append('<option value="'+city.cityid+'">'+city.cityname+'</option>');

                });
            }
        });
    });
</script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

